<div id="openModal" class="modal-outer">
    <a href="#close" title="Close" class="close"></a>
    <div class="modal-dialog">




        <div class="form-block __mobile __desktop __white-bg __transparent-bg modal modal-fixed">
            <div class="form-block__inner-wrapper ">
                <a href="#close" title="Close" class="close-btn">Отменить</a>
                <div class="form-block__title __mobile">
                    <h4>Хочу в путешествие</h4>
                </div>
                <div class="form-block__subtitle __mobile">
                    <span>Мы перезвоним Вам в рабочее время.</span>
                </div>
                <form class="form __mobile" action="">
                    <div class="name">
                        <label class="form-label" for="name-modal">Ваше имя *</label>
                        <div>
                            <input type="text" id="name-modal" placeholder="Ваше имя">
                        </div>
                    </div>
                    <div class="phone">
                        <label class="form-label" for="phone-modal">Номер телефона для связи *</label>
                        <div>
                            <input type="text" id="phone-modal" placeholder="+7 __ __ __ __ ___">
                        </div>
                    </div>
                    <div class="e-mail">
                        <label class="form-label" for="e-mail-modal">E-mail </label>
                        <div>
                            <input type="text" id="e-mail-modal" placeholder="MultiTravel@gmail.com">
                        </div>
                    </div>


                    <div>

                        <div class="form-block__checkbox-wrapper">
                            <input class="check__input" type="checkbox" id="agreement-modal" checked>
                            <span class="check__box"></span>
                            <label class="check option" for="agreement-modal">Нажимая на кнопку «Отправить» вы
                                соглашаетесь с Обработкой персональных данных, Политикой
                                конфиденциальности и Пользовательским соглашением</label>


                        </div>

                        <!-- to make button disabled add class "disabled-btn"-->
                        <div class="order-btn-wrapper">
                            <button class="btn btn-main btn-order" type="submit">Заказать
                                звонок</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ready-form visually-hidden">
                <div class="ready-form__title">
                    <span><strong>Спасибо!
                        </strong></span>
                    <span><strong>
                            Ваша заявка принята! </strong></span>
                </div>
                <div class="ready-form__text">
                    <span>Мы перезвоним Вам в рабочее время.</span>
                </div>
                <div class="social-block">
                    <div class="social-block__text">
                        <span>Присоединяйся к нам!</span>
                    </div>
                    <div class="social-block__list">
                        <a href="#" class="social-block__item" target="_blank">
                            <img src="img/whatsapp.svg" alt="whatsapp">
                        </a>
                        <a href="#" class="social-block__item" target="_blank">
                            <img src="img/telegram.svg" alt="telegram">
                        </a>
                        <a href="#" class="social-block__item" id="insta" target="_blank">
                            <img src="img/insta.svg" alt="insta">
                        </a>
                        <a href="#" class="social-block__item" target="_blank">
                            <img src="img/vk.svg" alt="vk">
                        </a>
                        <a href="#" class="social-block__item" target="_blank">
                            <img src="img/fb.svg" alt="fb">
                        </a>
                        <a href="#" class="social-block__item" target="_blank">
                            <img src="img/twitter.svg" alt="twitter">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>