// COLORS
// :root {
//   --color-black: #000;
//   --color-white: #fff;
// }

$small: 575.98px;
$medium: 767.98px;
$large: 991.98px;
$extra-large: 1199.98px;

$transition: 0.5s;

$color-main: #000000;
$color-secondary: #ffed00;
// $color-btn: #2D9CDB;
// $color-intro: #f2f2f2;
$border-radius: 7px;

// box-shadow
